[Unit]
Description=Robot UI Software

# When systemd stops or restarts the thunderbots.service, the action is propagated to this unit
PartOf=thunderbots.service

# At startup, start this unit after the thunderbots.service start
After=thunderbots.service thunderloop.service network.target

# Allow restarts at 10Hz
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
# Setup python path to the src directory where all the bazel imports are normally setup from
Environment='PYTHONPATH=$PYTHONPATH:/home/robot/thunderbots_binaries/bazel-out/host/bin'
ExecStart=/opt/tbotspython/bin/python3 /home/robot/thunderbots_binaries/bazel-out/host/bin/software/jetson_nano/display/robot_ui --path_to_boot_screen /home/robot/thunderbots_binaries/bazel-out/host/bin/software/jetson_nano/display/robot_ui.runfiles/__main__/software/jetson_nano/display/lcd_user_interface/tbots.jpg

# Always restart on crash
Restart=always

[Install]
# This unit should be run at startup
WantedBy=multi-user.target
