[Unit]
Description=thunderloop service

# When systemd stops or restarts the thunderbots.service, the action is propagated to this unit
PartOf=thunderbots.service

# At startup, start this unit after the thunderbots.service start
After=thunderbots.service network.target

[Service]
ExecStart=/home/robot/thunderbots_binaries/thunderloop_main

# Always restart on crash
Restart=always

[Install]
# This unit should be run at startup
WantedBy=multi-user.target
