version: '{build}'

# Build Using Our Hardware And Image
build_cloud: "unwitting-accomplice Docker"
image: "Ubuntu 18.04 Full Image 3"

install:
  - ./environment_setup/setup_software.sh

environment:
  matrix:
    - JOB_TYPE: FORMATTING_CHECK
    - JOB_TYPE: BUILD_TEST_COVERAGE

build_script:
  - |
    if [[ "$JOB_TYPE" == BUILD_TEST_COVERAGE ]]; then
      cd src
      # Test Software
      bazel coverage //software/...     \
        --compilation_mode=fastbuild    \
        --verbose_test_summary          \
        --instrumentation_filter=//...  \
        --test_output=errors
      # Test Firmware
      bazel coverage //firmware/main/app/...    \
        --compilation_mode=fastbuild            \
        --verbose_test_summary                  \
        --instrumentation_filter=//...          \
        --test_output=errors
      # Upload coverage results
      bash <(curl -s https://codecov.io/bash) -s bazel-testlogs/ | (head -n100 && tail -n100)
      # Build CPU-specific Targets For Firmware
      bazel build --cpu=stm32h7 //firmware_new/boards/frankie_v1:frankie_v1_main 
      bazel build --cpu=stm32f4 //firmware:firmware_old_main_bin
    elif [[ "$JOB_TYPE" == FORMATTING_CHECK ]]; then
      ./formatting_scripts/check_formatting_ci.sh
    fi
