---
BasedOnStyle: Google
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlinesLeft: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BreakBeforeBraces: Allman
BreakStringLiterals: 'false'
ColumnLimit: '90'
Cpp11BracedListStyle: 'true'
IndentCaseLabels: 'true'
IndentWidth: '4'
Language: Cpp
MaxEmptyLinesToKeep: '3'
NamespaceIndentation: None
ReflowComments: 'true'
SortIncludes: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
---
Language: Proto
# Don't format proto files.
DisableFormat: true
---

