---
Language: Cpp
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlinesLeft: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Allman
BreakStringLiterals: 'false'
ColumnLimit: '90'
Cpp11BracedListStyle: 'true'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
IndentWidth: '4'
MaxEmptyLinesToKeep: '3'
NamespaceIndentation: None 
ReflowComments: 'true'
SortIncludes: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
---
Language: JavaScript
# Don't format javascript files
DisableFormat: true
---
Language: Proto
BasedOnStyle: Google
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignEscapedNewlinesLeft: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'true'
BinPackParameters: 'true'
BreakBeforeBraces: Allman
BreakStringLiterals: 'false'
ColumnLimit: '90'
Cpp11BracedListStyle: 'true'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
IndentWidth: '4'
MaxEmptyLinesToKeep: '3'
NamespaceIndentation: None
ReflowComments: 'true'
SortIncludes: 'true'
Standard: Cpp11
TabWidth: '4'
UseTab: Never
---
