# Set the default behavior for handling line endings, in case people don't have core.autocrlf set.
# This fixes github complaining about line endings by letting git set the line-endings as it sees
# fit on each commit.
# This is important because it means that what should be the same commit on windows/osx/linux
# will actually *look* like the same commit in the repo.
# See https://help.github.com/articles/dealing-with-line-endings/ for more details
* text=auto

# Our clang-format executable is a binary
formatting_scripts/clang-format-*    binary

# Treat images as binaries
*.svg           binary
*.png           binary

