---
- name: Make sure NTP is enabled to sync time for setup_pi.yml
  block:
    - name: Check if NTP is enabled
      ansible.builtin.command: timedatectl status
      register: timedatectl_result

    - name: Enable automatic time synchronization
      ansible.builtin.command: timedatectl set-ntp on
      when: "{{'NTP service: active' not in timedatectl_result.stdout}}"
      become: true

    - name: Ensure the systemd-timesyncd service is running and enabled
      ansible.builtin.systemd_service:
        name: systemd-timesyncd
        state: started
        enabled: true
