---
- name: Reboot
  become: true
  become_method: ansible.builtin.sudo
  register: res
  ansible.builtin.reboot:
    msg: "Reboot initiated by Ansible"
    connect_timeout: 20
    reboot_timeout: 1200
    pre_reboot_delay: 0
    post_reboot_delay: 10
    test_command: whoami
