---
- name: Sync Setup Script
  become: true
  become_method: ansible.builtin.sudo
  ansible.posix.synchronize:
    src: ../../setup_robot_software_deps.sh
    dest: ~/
    copy_links: true

# Output is streamed to target host's (Pi's /tmp/setup.log)
- name: Running the setup script, this will take a while
  become_method: ansible.builtin.sudo
  become: true
  ansible.builtin.command: "/home/{{ ansible_user }}/setup_robot_software_deps.sh >& /tmp/setup.log"
  register: result
  changed_when: true
  args:
    chdir: ~/

- name: Disable WiFi power management
  block:
    - name: Delete WiFi power management rule
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.file:
        path: /etc/NetworkManager/conf.d/default-wifi-powersave-on.conf
        state: absent

    - name: Create WiFi power management rule
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.copy:
        content: |
          [connection]
          wifi.powersave = 2
        dest: /etc/NetworkManager/conf.d/default-wifi-powersave-off.conf
        mode: "600"
