---

- name: Run systemd setup
  block:
    - name: Delete everything on ~/
      file:
        state: absent
        path: /home/robot/thunderbots_binaries
      become_method: sudo
      become: true
      register: result

    - name: Sync Thunderloop
      ansible.posix.synchronize:
        src: ../../thunderloop_main
        dest: ~/thunderbots_binaries/
        copy_links: yes

    - name: Computer Thunderloop MD5 Hash
      command: '/home/{{ ansible_user }}/hash_thunderloop_binary.sh'
      register: result

    - name: Sync Thunderloop systemd file
      become_method: sudo
      become: true
      register: res
      ansible.posix.synchronize:
        src: ../../linux_configs/systemd/thunderloop.service
        dest: /etc/systemd/system
        copy_links: yes

      # NOTE: "Enabling systems" means they will start on boot
    - name: Enable system services
      become: true
      become_method: sudo
      ansible.builtin.systemd:
        name: thunderloop
        enabled: yes
        masked: no
        daemon_reload: yes

    - name: Enable WiFi waiter service
      become: true
      become_method: sudo
      service: name=NetworkManager-wait-online enabled=yes
