---
- name: Run systemd setup
  block:
    - name: Delete everything on ~/
      ansible.builtin.file:
        state: absent
        path: /home/robot/thunderbots_binaries
      become_method: ansible.builtin.sudo
      become: true
      register: result

    - name: Sync Thunderloop
      ansible.posix.synchronize:
        src: ../../thunderloop_main
        dest: ~/thunderbots_binaries/
        copy_links: true

    - name: Sync Thunderloop MD5 Hash
      ansible.posix.synchronize:
        src: "{{ playbook_dir }}/../../hash_thunderloop_binary.sh"
        dest: "~/hash_thunderloop_binary.sh"
        copy_links: true

    - name: Make MD5 Hash Script Executable
      ansible.builtin.file:
        path: "~/hash_thunderloop_binary.sh"
        mode: 0755

    - name: Compute Thunderloop MD5 Hash
      ansible.builtin.command: "/home/{{ ansible_user }}/hash_thunderloop_binary.sh"
      register: result
      changed_when: true

    - name: Sync Thunderloop systemd file
      become_method: ansible.builtin.sudo
      become: true
      register: res
      ansible.builtin.copy:
        src: ../../linux_configs/systemd/thunderloop.service
        dest: /etc/systemd/system/
        mode: "0644"

    # NOTE: "Enabling systems" means they will start on boot
    - name: Enable system services
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.systemd:
        name: thunderloop
        enabled: true
        masked: false
        daemon_reload: true

    - name: Enable WiFi waiter service
      become: true
      become_method: ansible.builtin.sudo
      ansible.builtin.service:
        name: NetworkManager-wait-online
        enabled: "yes"
