<launch>
    <!-- Runs the AI with the given backend -->
    <arg name="backend_type"/>

    <param name="vision_multicast_address" value="$(optenv VISION_MULTICAST_ADDRESS 224.5.23.2)"/>

    <node name="full_system" pkg="thunderbots" type="full_system"
    args="--backend $(arg backend_type)"
    output="screen" respawn="true" respawn_delay="10">

    <!-- Launch the dynamic parameters node -->
    <node name="parameters" pkg="thunderbots" type="parameters" output="screen" respawn="true"/>

    <!-- Launch the rqt_reconfigure gui -->
    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" respawn="true"/>

    <!-- Run the corner-kick visualizer -->
    <include file="$(find corner_kick)/launch/corner_kick.launch" />

</launch>
