<launch>

    <!-- 
        Runs all of the AI nodes except for the backend (Grsim, MRF, etc.)
    -->

    <param name="vision_multicast_address" value="$(optenv VISION_MULTICAST_ADDRESS 224.5.23.2)"/>

    <!-- Launch the network_input node -->
    <node name="network_input" pkg="thunderbots" type="network_input" output="screen" respawn="false" respawn_delay="10">
    </node>

    <!-- Launch the ai logic node -->
    <node name="ai_logic" pkg="thunderbots" type="ai_logic" output="screen" respawn="false">
    </node>

    <!-- Run the corner-kick visualizer -->
    <include file="$(find corner_kick)/launch/corner_kick.launch" />

</launch>
