<launch>

    <!-- Configuration of the radio; default is 0 -->
    <arg name="mrf_config" default="0"/>

    <!-- Run all the shared AI nodes -->
    <include file="$(find thunderbots)/launch/ai.launch" />

    <!-- Run the corner-kick visualizer -->
    <include file="$(find corner_kick)/launch/ai.launch" />

    <!-- Launch the radio_communication node -->
    <node name="radio_communication" pkg="thunderbots" type="radio_communication" output="screen" args="$(arg mrf_config)"/>

</launch>
