<launch>

    <!-- Find and include the generic XBox controller launchfile from our thunderbots package -->
    <include file="$(find thunderbots)/launch/xbox_controller.launch" />

    <!-- Launch the radio_communication node -->
    <node name="radio_communication" pkg="thunderbots" type="radio_communication" output="screen">
    </node>

</launch>
