---

- name: Deploy to the powerboard
  hosts: THUNDERBOTS_HOSTS

  tasks:
    - name: Sync powerboard files
      become: true
      become_method: sudo
      ansible.posix.synchronize:
        src: ../../../../../power/powerloop.tar.gz
        dest: ~/
        recursive: yes
        copy_links: yes

    - name: Untar powerboard files
      shell: 'mkdir -p powerloop && tar -xvf ~/powerloop.tar.gz -C powerloop'
      register: result
      args:
        chdir: ~/

    #- name: Hold boot and press reset on the powerboards to enter bootloader mode.
    #  ansible.builtin.pause:
    #    prompt: "Press enter to continue"
    #    echo: no

    - name: Enter bootloader mode
      script: ../scripts/esp32_flashing.py bootloader
      args:
        executable: python3

    - name: Flashing... (this will take a while on the first run)
      shell: '/opt/tbotspython/bin/platformio run --disable-auto-clean -t nobuild -t upload -d ~/powerloop/power'
      register: result

    #- name: Reset powerboard to finish flashing
    #  ansible.builtin.pause:
    #    prompt: "Press enter to continue"
    #    echo: no

    - name: Reset powerboard to finish flashing
      script: ../scripts/esp32_flashing.py reset
      args:
        executable: python3
