setuptools==60.5.0
Adafruit-Blinka==6.15.0
adafruit-circuitpython-busdevice==5.1.1
adafruit-circuitpython-rgb-display==3.10.9
Adafruit-PlatformDetect==3.18.0
Adafruit-PureIO==1.1.9
Jetson.GPIO==2.0.17
Pillow==9.1.0
redis==4.1.4
