/* Defines the base layout for the application */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    overflow: hidden;
    user-select: none;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
}

#react {
    display: hidden;
}

#root {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 56px 300px 1fr;
    grid-template-rows: 40px 1fr 300px 20px;
}

#sidebarTitle {
    grid-row: 1;
    grid-column: 2;
    overflow: hidden;

    border-right: 1px solid;
}

#sidebarControl {
    grid-row: 1 / 4;
    grid-column: 1;

    border-top: 1px solid;
    border-right: 1px solid;

    display: flex;
    flex-flow: column nowrap;

    overflow: hidden;
}

#sidebar {
    grid-row: 2 / 4;
    grid-column: 2;

    border-top: 1px solid;
    border-right: 1px solid;

    overflow: hidden;
}

#mainTitle {
    grid-row: 1;
    grid-column: 3;

    overflow: hidden;
}

#main {
    grid-row: 2;
    grid-column: 3;

    border-top: 1px solid;

    overflow: hidden;
}

#console {
    grid-row: 3;
    grid-column: 3;

    border-top: 1px solid;

    overflow: hidden;
}

#footerLeft {
    grid-row: 4;
    grid-column: 1 / 3;

    padding: 0px 4px;

    border-top: 1px solid;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: hidden;
}

#footerRight {
    grid-row: 4;
    grid-column: 3;
    border-top: 1px solid;

    padding: 0px 4px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;
}
