[Unit]
Description=Robot UI Software

# When systemd stops or restarts the thunderbots.service, the action is propagated to this unit
PartOf=thunderbots.service

# At startup, start this unit after the thunderbots.service start
After=thunderbots.service thunderloop.service network.target

[Service]
ExecStart=/opt/tbotspython/bin/python3 /home/robot/thunderbots_binaries/robot_ui

# Always restart on crash
Restart=always

[Install]
# This unit should be run at startup
WantedBy=multi-user.target
