[Unit]
Description=announcement service

# When systemd stops or restarts the thunderbots.service, the action is propagated to this unit
PartOf=thunderbots.service

# At startup, start this unit after the thunderbots.service start
After=thunderbots.service thunderloop.service network.target

[Service]
# todo: execute lcd ui (#2443)
ExecStart=/home/robot/thunderbots_binaries/display/lcd_user_interface

#always restart on crash
Restart=always

[Install]
# This unit should be run at startup
WantedBy=multi-user.target
