[Unit]
Description=announcement service

# When systemd stops or restarts the thunderbots.service, the action is propagated to this unit
PartOf=thunderbots.service

# At startup, start this unit after the thunderbots.service start
After=thunderbots.service thunderloop.service network.target

[Service]
# Pretend that the component is running
# todo: execute announcement binary (#2443)
ExecStart=/bin/sleep infinity

#always restart on crash
Restart=always

[Install]
# This unit should be run at startup
WantedBy=multi-user.target
