
# this is a generic watcher service, denoted by the presence of '@' in the filename.
# When a generic service is intantiated, anything after the '@' can be referenced through the variable i
# for example, creating a service called watcher@thunderloop will instantiate this file any replace
# any reference to %i with thunderloop

[Unit]
Description=generic watcher service: Temporary service to restart the service given by the @i parameter

# restart the given service
[Service]
ExecStart=/bin/systemctl restart %i

[Install]
WantedBy=multi.user.target
