[Unit]
Description=generic watcher service: Temporary service to restart the %i service

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart %i

[Install]
WantedBy=multi.user.target
