<launch>

    <!-- Launch the backend_input node -->
    <node name="backend_input" pkg="thunderbots_software" type="backend_input" output="screen">
    </node>

    <!-- Launch the ai logic node -->
    <node name="ai_logic" pkg="thunderbots_software" type="ai_logic" output="screen">
    </node>

    <!-- Launch the backend_output node -->
    <node name="backend_output" pkg="thunderbots_software" type="backend_output" output="screen">
    </node>

</launch>
