# Use C++ 17
build --cxxopt='-std=c++17'

# Use Our Remote Cache To Avoid Rebuilding Files Already Built By CI
build --remote_http_cache=https://storage.googleapis.com/thunderbots_bazel_cache_us_multi_region

# Disable sandboxing, since using the remote cache with it enabled is still 
# considered "experimental"
--spawn_strategy=standalone

# Don't try to upload results since we assume this computer does not have the
# required credentials. You can override this on the command line, ex:
# `bazel build --remote_upload_local_results=false //...`
build --remote_upload_local_results=false 

# We rely on all symbols being included when linking for our implementation of
# the "factory" design pattern.
build --incompatible_remove_legacy_whole_archive=False

# Every warning is treated as an error
build --cxxopt=-Werror

# We want bazel to output the results of our gtests
test --test_output=all
