# Use Our Remote Cache To Avoid Rebuilding Files Already Built By CI
build --remote_http_cache=https://storage.googleapis.com/thunderbots_bazel_cache_us_multi_region

# Disable sandboxing, since using the remote cache with it enabled is still 
# considered "experimental"
--spawn_strategy=standalone

# Don't Try to Upload Results (since CI does not currently have required credentials)
# See https://github.com/UBC-Thunderbots/Software/issues/829 for more info
build --remote_upload_local_results=false 

# Credentials for Uploading Build Results To Our Remote Cache
#build --google_credentials="/home/gareth/Downloads/tbots-bazel-cache-key.json"

# We rely on all symbols being included when linking for our implementation of
# the "factory" design pattern.
build --incompatible_remove_legacy_whole_archive=False

# We want bazel to output the results of our gtests
test --test_output=all

# Use Our Custom Toolchain
build --crosstool_top=//cc_toolchain:toolchain

# Automatically set the CPU environment based on the `--cpu` flag as per our
# defined CPU environments
build --auto_cpu_environment_group=//cc_toolchain:cpus
