# We rely on all symbols being included when linking for our implementation of
# the "factory" design pattern.
build --incompatible_remove_legacy_whole_archive=False

# We want bazel to output the results of our gtests
test --test_output=all

# Use Our Custom Toolchain
build --crosstool_top=//cc_toolchain:toolchain

# Automatically set the CPU environment based on the `--cpu` flag as per our
# defined CPU environments
build --auto_cpu_environment_group=//cc_toolchain:cpus
