# Microchip PICKit2
SUBSYSTEM=="usb", ATTR{idVendor}=="04d8", ATTR{idProduct}=="0033", GROUP="thunderbots"

# 2011-era XBee USB dongle
SUBSYSTEM=="usb", ATTR{idVendor}=="04d8", ATTR{idProduct}=="7839", GROUP="thunderbots"

# STM32F4 in ROM bootloader mode
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", GROUP="thunderbots"

# 2012/2013-era MRF USB dongle
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="497c", GROUP="thunderbots"

# 2013-era Flash burner module
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="497d", GROUP="thunderbots"

# 2014-era robot CDC ACM debug output
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="497e", GROUP="thunderbots"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="497e", GROUP="thunderbots"

# 2015-era robot USB DFU
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="497f", GROUP="thunderbots"

# 2015 USB speedsensor CDC ACM speed logging output
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="4980", GROUP="thunderbots"
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="4980", GROUP="thunderbots"

# Thunderbots Secure Digital cards used for data logging
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000003", ATTRS{oemid}=="0x5344", ATTRS{serial}=="0x9000b392", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000009", ATTRS{oemid}=="0x4150", ATTRS{serial}=="0xee00d950", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000009", ATTRS{oemid}=="0x4150", ATTRS{serial}=="0xef00dbd1", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000009", ATTRS{oemid}=="0x4150", ATTRS{serial}=="0xef00dc5b", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000009", ATTRS{oemid}=="0x4150", ATTRS{serial}=="0xef00dcab", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000009", ATTRS{oemid}=="0x4150", ATTRS{serial}=="0xef00dcdb", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000027", ATTRS{oemid}=="0x5048", ATTRS{serial}=="0x017e55d7", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000028", ATTRS{oemid}=="0x4245", ATTRS{serial}=="0xba5bf128", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000028", ATTRS{oemid}=="0x4245", ATTRS{serial}=="0xbb1400c4", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a2660d3", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a266091", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a266092", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a266090", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a265faa", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a2660d2", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a45bb07", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a45bb08", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a45bb26", GROUP="thunderbots"
SUBSYSTEM=="block", SUBSYSTEMS=="mmc", ATTRS{manfid}=="0x000002", ATTRS{oemid}=="0x544d", ATTRS{serial}=="0x3a45bb09", GROUP="thunderbots"
