---
- name: Deploy firmware to the motor driver boards
  hosts: THUNDERBOTS_HOSTS

  vars:
    repo_root: "{{ workspace_dir | default(playbook_dir + '/../../../../') }}"
    # Bazel output location (convenience symlink)
    bazel_out_path: "bazel-bin/external/+_repo_rules2+mdv6_firmware/mdv6_firmware_main"
    firmware_bin_name: "mdv6_firmware_main"
    firmware_archive_name: "mdv6_firmware.tar.gz"
    script_path: "software/embedded/drivers/flash_motor_drivers.py"
    cfg_path: "software/embedded/drivers/raspberrypi.cfg"
    stm32_cfg_path: "software/embedded/drivers/stm32_rpi.cfg"
    remote_dir: "~/motor_firmware"

  tasks:
    - name: Build firmware locally
      delegate_to: localhost
      ansible.builtin.command: "bazel build @mdv6_firmware//:mdv6_firmware_main --platforms=//toolchains/cc:motor_board"
      args:
        chdir: "{{ repo_root }}"
      changed_when: false

    - name: Archive firmware binary locally
      delegate_to: localhost
      ansible.builtin.command: "tar -czf {{ firmware_archive_name }} {{ bazel_out_path | basename }}" # noqa: command-instead-of-module
      args:
        chdir: "{{ repo_root }}/{{ bazel_out_path | dirname }}"
      changed_when: false

    - name: Remove existing remote directory
      ansible.builtin.file:
        path: "{{ remote_dir }}"
        state: absent

    - name: Create directory on remote
      ansible.builtin.file:
        path: "{{ remote_dir }}"
        state: directory
        mode: "0755"

    - name: Copy firmware archive to remote
      ansible.builtin.copy:
        src: "{{ repo_root }}/{{ bazel_out_path | dirname }}/{{ firmware_archive_name }}"
        dest: "{{ remote_dir }}/{{ firmware_archive_name }}"
        mode: "0644"

    - name: Copy flashing script to remote
      ansible.builtin.copy:
        src: "{{ repo_root }}/{{ script_path }}"
        dest: "{{ remote_dir }}/flash_motor_drivers.py"
        mode: "0755"

    - name: Copy openocd config to remote
      ansible.builtin.copy:
        src: "{{ repo_root }}/{{ cfg_path }}"
        dest: "{{ remote_dir }}/raspberrypi.cfg"
        mode: "0644"

    - name: Copy STM32 OpenOCD config to remote
      ansible.builtin.copy:
        src: "{{ repo_root }}/{{ stm32_cfg_path }}"
        dest: "{{ remote_dir }}/stm32_rpi.cfg"
        mode: "0644"

    - name: Unarchive firmware on remote
      ansible.builtin.unarchive:
        src: "{{ remote_dir }}/{{ firmware_archive_name }}"
        dest: "{{ remote_dir }}"
        remote_src: true

    - name: Configure Pinmux for SWD
      ansible.builtin.shell: "echo {{ ansible_sudo_pass }} | sudo -S pinctrl set 4 ip pu && echo {{ ansible_sudo_pass }} | sudo -S pinctrl set 17 ip pu && echo {{ ansible_sudo_pass }} | sudo -S pinctrl set 18 ip pu"
      ignore_errors: true

    - name: Run flashing script
      ansible.builtin.shell: "echo {{ ansible_sudo_pass }} | sudo -S python3 flash_motor_drivers.py"
      args:
        chdir: "{{ remote_dir }}"
      changed_when: true
