---
- name: Deploy firmware to the motor driver boards
  hosts: THUNDERBOTS_HOSTS

  vars:
    repo_root: "{{ playbook_dir }}/../../../../"
    # Bazel output location (convenience symlink)
    bazel_out_path: "bazel-bin/external/mdv6_firmware/mdv6_firmware_main"
    firmware_bin_name: "mdv6_firmware_main.bin"
    firmware_archive_name: "mdv6_firmware.tar.gz"
    script_path: "software/embedded/ansible/firmware/flash_motor_drivers.py"
    remote_dir: "~/motor_firmware"

  tasks:
    - name: Build firmware locally
      delegate_to: localhost
      command: "bazel build @mdv6_firmware//:mdv6_firmware_main --platforms=//toolchains/cc:motor_board"
      args:
        chdir: "{{ repo_root }}"

    - name: Convert ELF to Binary locally
      delegate_to: localhost
      command: "objcopy -O binary {{ bazel_out_path }} {{ firmware_bin_name }}"
      args:
        chdir: "{{ repo_root }}"

    - name: Archive firmware binary locally
      delegate_to: localhost
      command: "tar -czf {{ firmware_archive_name }} {{ firmware_bin_name }}"
      args:
        chdir: "{{ repo_root }}"

    - name: Create directory on remote
      file:
        path: "{{ remote_dir }}"
        state: directory

    - name: Copy firmware archive to remote
      copy:
        src: "{{ repo_root }}/{{ firmware_archive_name }}"
        dest: "{{ remote_dir }}/{{ firmware_archive_name }}"

    - name: Copy flashing script to remote
      copy:
        src: "{{ repo_root }}/{{ script_path }}"
        dest: "{{ remote_dir }}/flash_motor_drivers.py"
        mode: '0755'

    - name: Unarchive firmware on remote
      unarchive:
        src: "{{ remote_dir }}/{{ firmware_archive_name }}"
        dest: "{{ remote_dir }}"
        remote_src: yes

    - name: Run flashing script
      become: true
      command: "python3 flash_motor_drivers.py"
      args:
        chdir: "{{ remote_dir }}"
