name: Tbots CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  software-tests:
    name: Software Tests
    runs-on: ubuntu-20.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Software Test
        run: |
          cd src
          bazel test --show_timestamps       \
            -- //... -//software:unix_full_system \
            -//software/simulated_tests/...  \
            -//software/ai/hl/...            \

  jetson-nano-tests:
    name: Jetson Nano Software Tests
    runs-on: ubuntu-20.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Install and start redis server
        run: |
          wget http://download.redis.io/redis-stable.tar.gz 
          tar xvzf redis-stable.tar.gz >/dev/null 
          cd redis-stable
          make >/dev/null 
          make install >/dev/null 
          redis-server --daemonize yes          

      - name: Stop redis server
        run: |
          redis-cli shutdown

      - name: Jetson Nano Build
        run: |
         cd src
         bazel build --cpu=jetson_nano //software/jetson_nano:thunderloop_main

  simulated-gameplay-tests:
    name: Simulated Gameplay Tests
    runs-on: ubuntu-20.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
        
      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Simulated Test Run 1 (Continue on error)
        # make sure that replays are uploaded even if tests fail
        continue-on-error: true
        run: |
          cd src
          bazel test --show_timestamps       \
            //software:unix_full_system           \
            //software/simulated_tests/...   \
            //software/ai/hl/...

      - name: Upload simulated test proto logs
        uses: actions/upload-artifact@v3
        with:
          name: blue-ai-proto-logs
          path: |
            /tmp/tbots/blue/logs

      - name: Upload simulated test proto logs
        uses: actions/upload-artifact@v3
        with:
          name: yellow-ai-proto-logs
          path: |
            /tmp/tbots/yellow/logs

      - name: Simulated Test Run 2 (Continue on error)
        # Run a second time without checking for errors
        continue-on-error: true
        run: |
          cd src
          bazel test --show_timestamps       \
            //software:unix_full_system           \
            //software/simulated_tests/...   \
            //software/ai/hl/...

      - name: Simulated Test Run 3 (Check for errors)
        # Run Simulated Tests a third time and finally check for failures
        run: |
          cd src
          bazel test --show_timestamps       \
            //software:unix_full_system           \
            //software/simulated_tests/...   \
            //software/ai/hl/...

  autorefd-game:
    name: AutoRef'd Game (3 Minutes)
    runs-on: ubuntu-20.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Build Thunderscope
        run: |
          cd src
          bazel build //software/thunderscope:thunderscope_main

      - name: AI vs AI (3 minutes)
        run: |
          cd src
          timeout 3m bazel run //software:ai_vs_ai_ci || code=$?; if [[$code -ne 124 && $code -ne 0]]; then exit $code; fi


      - name: Upload AI vs AI logs
        uses: actions/upload-artifact@v3
        with:
          name: blue-ai-vs-ai-proto-logs
          path: |
            /tmp/tbots/blue/logs

      - name: Upload AI vs AI logs
        uses: actions/upload-artifact@v3
        with:
          name: yellow-ai-vs-ai-proto-logs
          path: |
            /tmp/tbots/yellow/logs
