name: Tbots CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-18.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
        
      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh
      
      - name: Check Formatting
        run: |
          ./formatting_scripts/check_formatting_ci.sh
          
  software-tests:
    name: Software Tests
    runs-on: ubuntu-18.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh
          
      - name: Software Test
        run: |
          cd src
          bazel test --show_timestamps\
            -- //... -//software/simulated_tests/... \
            -//software/ai/hl/stp/play/... \
            -//software/ai/hl/stp/tactic/... \
            -//firmware/boards/estop_arduino_uno/... # Arduino requires setup_firmware 
             
  firmware-tests:
    name: Firmware Tests
    runs-on: ubuntu-18.04
    env:
      DISPLAY: :0
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
    
      - name: Environment Setup
        run: |
          sudo apt-get install xvfb
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh
          "${GITHUB_WORKSPACE}"/environment_setup/setup_firmware.sh

          # TODO (#2144): renable STM32CubeMX Code Generation check
          #      - name: STM32CubeMX Code Generation
          #        run: |
          #          "${GITHUB_WORKSPACE}"/.github/check_cubemx_ci.sh

      - name: Arduino Uno Firmware Build
        run: |
         cd src
         bazel build //firmware/boards/estop_arduino_uno:main 

      - name: STM32H7 Robot Firmware Build
        run: |
         cd src
         bazel build --cpu=stm32h7 //firmware/boards/robot_stm32h7:robot_stm32h7_main 
     
      - name: Legacy STM32F4 Robot Firmware Build
        run: |
         cd src
         bazel build --cpu=stm32f4 //firmware/boards/legacy_robot_stm32f4:bin 
         
      - name: Legacy Radio Dongle Firmware Build
        run: |
         cd src
         bazel build --cpu=stm32f4 //firmware/boards/legacy_dongle_stm32f4:bin         
             
  simulated-gameplay-tests:
    name: Simulated Gameplay Tests
    runs-on: ubuntu-18.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2
        
      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Simulated Test
        # make sure that replays are uploaded even if tests fail
        continue-on-error: true
        run: |
          cd src
          bazel test --show_timestamps   \
            //software/simulated_tests/...   \
            //software/ai/hl/stp/play/...    \
            //software/ai/hl/stp/tactic/... 

      
      - name: Upload simulated test artifacts
        uses: actions/upload-artifact@v2
        with:
          name: simulated-test-outputs
          # we only care about the replay logs from the STP tests
          path: |
            src/bazel-out/k8-fastbuild/testlogs/software/ai/hl/stp
            
  memory-leak-checks:
    name: Memory Leak Checks
    runs-on: ubuntu-18.04
    steps:
      # checks-out the repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v2

      - name: Environment Setup
        run: |
          "${GITHUB_WORKSPACE}"/environment_setup/setup_software.sh

      - name: Simulation Memory Leak Check
        run: |
          cd src
          bazel test -c dbg  \
            --run_under="valgrind --leak-check=yes --undef-value-errors=no --error-exitcode=1"   \
            //software/simulation/...
            
      - name: Firmware Memory Leak Check
        run: |
          cd src
          bazel test -c dbg  \
            --run_under="valgrind --leak-check=yes --undef-value-errors=no --error-exitcode=1"   \
            -- //firmware/...   \
            -//firmware/boards/estop_arduino_uno/... # Arduino requires setup_firmware              
            
      - name: Shared Memory Leak Check
        run: |
          cd src
          bazel test -c dbg  \
            --run_under="valgrind --leak-check=yes --undef-value-errors=no --error-exitcode=1"   \
            //shared/parameter/...

