name: Release binary on commit

on: 
  schedule:
    - cron: '0 0 * * 0' # Weekly Patch (Sundays)
    - cron: '0 0 1 * *' # Monthly Minor (1st of the month)
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Manual Release Level'
        required: true
        default: 'major'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  release:
    strategy:
      matrix:
        platform: [x86, arm64]
        include:
          - platform: x86
            runner: ubuntu-24.04
          - platform: arm64
            runner: macos-latest
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Check for recent commits
        id: check
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "count=1" >> $GITHUB_OUTPUT
          else
            COUNT=$(git log --since="1 week ago" --oneline | wc -l)
            echo "count=$COUNT" >> $GITHUB_OUTPUT
          fi
          
      - name: Determine Version Bump
        if: steps.check.outputs.count > 0
        id: bump_logic
        run: |
          BUMP="patch"
          if [ "$(date +%d)" = "01" ]; then BUMP="minor"; fi
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            BUMP="${{ github.event.inputs.version_type }}"
          fi
          
          LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "v1.0.0")
          # Strip the 'v' prefix
          BASE_VERSION=${LATEST_TAG#v}
          
          IFS='.' read -r major minor patch <<< "$BASE_VERSION"
          
          if [ "$BUMP" = "major" ]; then
            major=$((major + 1)); minor=0; patch=0
          elif [ "$BUMP" = "minor" ]; then
            minor=$((minor + 1)); patch=0
          else
            patch=$((patch + 1))
          fi
          
          NEW_TAG="v$major.$minor.$patch"
          echo "tag=$NEW_TAG" >> $GITHUB_OUTPUT
          echo "Using version: $NEW_TAG"

      - uses: ./.github/actions/environment-setup
        if: steps.check.outputs.count > 0

      - name: Build Binaries
        if: steps.check.outputs.count > 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          cd src
          echo "${{ matrix.runner }}"
          TAG="${{ steps.bump_logic.outputs.tag }}"
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- //software:unix_full_system_tar_gen
          mv bazel-bin/software/unix_full_system_tar_gen.tar.gz "${{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" 
          gh release create "$TAG" "${{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" --generate-notes  --clobber
