name: Release binary on commit

on: 
  push:
    branches:
      - master
      - release_workflow

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Build Binaries
        run: | 
          cd src
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- -//software:unix_full_system_tar
      
      - name: Package Binary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd src
          TAR_PATH=$(bazel info bazel-bin)/software/unix_full_system_tar.tar.gz
          cd ~
          [-e bazel-bin] && echo "bazel bin exists" || echo "does not exist"
          TAG="v1.0.${{ github.run_number }}"
          gh release create "$TAG" "$TAR_PATH" --generate-notes