name: Release binary on commit

on: 
  schedule:
    -cron: 0 0 * * 0 # Midnight Sundays
  push:
    branches:
      - new_release_workflow

jobs:
  release:
    strategy:
      matrix:
        platform: [x86] # TODO: #3567 add MacOS support.
        include:
          - platform: x86
            runner: ubuntu-24.04
          # This is for when we support macos arm and have a setup-software script setup properly
          # - platform: arm64
          #   runner: macos-latest
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
      - name: Check for recent commits
        id: check
        run: |
        COUNT=$(git log --since="1 week ago" --oneline | wc -l)
        echo "count=$COUNT" >> $GITHUB_OUTPUT

      - uses: ./.github/actions/environment-setup
        if: steps.check.outputs.count > 0

      - name: Build Binaries
        if: steps.check.outputs.count > 0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          cd src
          echo "${{ matrix.runner }}"
          TAG="v1.0.${{ github.run_number }}"
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- //software:unix_full_system_tar_gen
          mv bazel-bin/software/unix_full_system_tar_gen.tar.gz "${{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" 
          gh release create "$TAG" "${{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" --generate-notes  
