name: Release binary on commit

on: 
  push:
    branches:
      - master
      - release_workflow

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Build Binaries
        run: | 
          cd src
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- -//software:unix_full_system_tar
          echo $(bazel cquery --output=files //software:unix_full_system_tar)
          TAG="v1.0.${{ github.run_number }}"
          gh release create "$TAG" $(bazel cquery --output=files //software:unix_full_system_tar) --generate-notes
          