name: Release binary on commit

on: 
  push:
    branches:
      - master
      - release_workflow

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Build Binaries
        run: | 
          bazel build //software:unix_full_system_tar
      
      - name: Package Binary
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG="v1.0.${{ github.run_number }}"
          gh release create "$TAG" $(bazel info bazel-bin)/software/unix_full_system_tar.tar.gz --generate-notes