name: Release binary on commit

on: 
  push:
    branches:
      - master
      - release_workflow

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - name: Build Binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          cd src
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- -//software:unix_full_system_tar
          [ -e bazel-bin/software ] && echo "bazel bin exists" || echo "does not exist"
          echo $(ls -a)
          TAG="v1.0.${{ github.run_number }}"
          gh release create "$TAG" "bazel-bin/software/unix_full_system_tar.tar.gz" --generate-notes

          