name: Release binary on commit

on: 
  push:
    branches:
      - master
      - new_release_workflow
      - debug_mv

jobs:
  release:
    strategy:
      matrix:
        platform: [x86] # TODO: #3567 add MacOS support.
        include:
          - platform: x86
            runner: ubuntu-24.04
          # This is for when we support macos arm and have a setup-software script setup properly
          # - platform: arm64
          #   runner: macos-latest
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - name: test
        run: echo "temp at ${{ runner.temp }}"

      - uses: actions/checkout@v4
      - uses: ./.github/actions/environment-setup
      - name: Build Binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: | 
          cd src
          echo "{{ matrix.runner }}"
          TAG="v1.0.${{ github.run_number }}"
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- //software:unix_full_system_tar_gen
          ls bazel-bin
          ls bazel-bin/software
          mv bazel-bin/software/unix_full_system_tar_gen.tar.gz "{{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" 
          gh release create "$TAG" "{{ runner.temp }}/unix_full_system_$TAG_${{ matrix.platform }}.tar.gz" --generate-notes  
