name: Release binary on commit

on: 
  push:
    branches:
      - master
      - new_release_workflow

jobs:
  release:
    strategy:
      matrix:
        platform: [x86]
        include:
          - platform: x86
            runner: ubuntu-24.04
          # This is for when we support macos arm and have a setup-software script setup properly
          # - platform: arm64
          #   runner: macos-latest
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/environment-setup
      - name: Build Binaries
        run: | 
          cd src
          echo "{{ matrix.runner }}"
          bazel build --show_timestamps --copt=-O3 --verbose_failures \
          -- //software:unix_full_system_tar_gen
      - name: Copy Binaries 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd src
          bazel run --show_timestamps --copt=-O3 --verbose_failures \
          -- //software:write_full_system_tar
          echo "${{ matrix.platform }}"
          mv software/tar-out/unix_full_system.tar.gz "software/tar-out/unix_full_system_${{ matrix.platform }}.tar.gz"
          TAG="v1.0.${{ github.run_number }}"
          gh release create "$TAG" "software/tar-out/unix_full_system_${{ matrix.platform }}.tar.gz" --generate-notes  